.answers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.8125rem;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color-primary);
  width: 8rem;
  height: 3.25rem;
  border: 0.125rem solid var(--color-primary);
  border-radius: 0.1875rem;
}

@media screen and (min-width: 43.75rem) {
  .answers {
    justify-content: center;
    margin-top: 2.75rem;
  }

  .answer {
    cursor: pointer;
    margin: 0 0.625rem;
  }
}
