.header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #9e3a8a;
  padding: 0px;
  font-size: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 30px;
  /* width: 126px; */
}

.header-image {
  position: absolute;
  left: calc(100vw - 50%);
  margin-left: -26px;
  height: 50;
  width: 52.13;
  /* border: 1px solid cyan; */
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  /* border: 1px solid blue; */
}

.content {
  text-align: center;
  margin-top: 46.12px;
  /* border: 1px solid green; */
}

.content-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #080808;

  /* border: 1px solid yellow; */
}

.content-text-1 {
  margin-top: 14px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #848484;

  /* border: 1px solid yellow; */
}

.content-text {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #080808;
  /* border: 1px solid yellow; */
}

.start-button {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  width: 128px;
  height: 52px;
  color: white;
  background: #9e3a8a;
  border-radius: 3px;
  text-align: center;
  align-items: center;
}

.start-text {
  margin-top: 14px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9e3a8a;
}

.swipe {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  margin-bottom: 22px;
  /* border: 1px solid green; */
  align-items: center;
}

.swipe-note {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #848484;
}

.quiz {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  margin-top: 40px;
}

.mask-group {
  display: flex;
  position: relative;
  justify-content: center;
}

.mask-group-img {
  width: 250px;
  height: 250px;
}

.question-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  bottom: -25px;
  width: 50px;
  height: 50px;
  align-items: center;
  color: #848484;
  background-color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
}

.question-count-total {
  font-size: 14px;
}

.question {
  margin-top: 47px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  width: 307px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #080808;
}

.answers {
  display: flex;
  margin-top: 30px;
  margin-bottom: 29px;
  justify-content: space-around;
  /* border: 1px solid rgb(146, 136, 146); */
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e3a8a;
  border-radius: 3px;
  width: 128px;
  height: 52px;
  border: 2px solid #9e3a8a;
}

.result {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid #e1e1e1;
}

.result-wording {
  margin-top: 0px;
  /* margin-bottom: 0px; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #080808;
}
.result-answer {
  margin-top: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #080808;
  text-transform: capitalize;
}
.thought {
  margin-top: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #080808;
}

.result-option-1 {
  display: flex;
  align-items: center;
  height: 80px;
  background: #fbfbfb;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
}

.result-option-1-img1 {
  margin: 8px;
}

.result-option-1-text {
  margin-left: 8px;
}

.result-option-1-img2 {
  margin-left: 16px;
}
.results-reasons {
  border: 2px solid #9e3a8a;
  border-radius: 3px;
  margin-top: 16px;
}
.results-reasons-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9e3a8a;
}

.help-text {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #080808;
}

.call-the-hotline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.call-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #b12d36 0%, #7c181f 100%);
  border-radius: 3px;
}

.call-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.call-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.call-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}

.community-resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.cr-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #e98139 0%, #c96430 100%);
  border-radius: 3px;
}

.cr-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.cr-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.cr-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}

.de-escalate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.de-escalate-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #3bafba 0%, #138291 100%);
  border-radius: 3px;
}

.de-escalate-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.de-escalate-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.de-escalate-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}

.progress {
  margin-top: 51px;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #848484;
}

.tracker {
  display: flex;
  width: 100%;
  height: 15px;
  background: #f4f4f4;
  border-radius: 10px;
}

.filler {
  height: 100%;
  background: linear-gradient(90deg, #a81010 0%, #ef934c 39.31%, #41a67f 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px;
}

.but-header {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: -1rem;
  background: radial-gradient(50% 50% at 50% 50%, #49bb8f 0%, #3c9974 100%);
  border-radius: 3px;
}

.but-header-img {
  width: 40;
  height: 40;
}

.but-header-text {
  display: flex;
  margin: 13px 0px;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
}

.but-header-text-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.but-header-text-content {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: white;
}

.information1 {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  /* border: 1px solid red; */
}

.but-option {
  display: flex;
  align-items: center;
  height: 80px;
  background: #fbfbfb;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 15px;
}

.but-option-img {
  margin: 8px;
}

.but-option-text {
  margin: 0px 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  /* Black Text */

  color: #080808;
}

.but-info-div {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 33px;
  margin-bottom: 38px;
}

.but-info-mask-group {
  width: 170px;
  height: 170px;
}

.but-info-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #080808;
}

.but-info-paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 29px;
  line-height: 22px;
  text-align: center;
  color: #080808;
}

.but-info-support-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #080808;
}

.community-resources-header {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: -1rem;
  background: radial-gradient(50% 40.2% at 50% 40.2%, #e98139 0%, #c96430 100%);
  border-radius: 3px;
}

.community-resources-header-text {
  display: flex;
  flex-direction: column;
  /* width: 343px; */
  padding: 0px 16px;
  /* border: 1px solid red; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 21px;
  margin-top: 9px;
}

.community-resources-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #080808;
}

.community-resources-paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 27px;
  line-height: 22px;
  text-align: center;
  color: #080808;
}

.resources {
}

.resource {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 19px 17px; */
  height: 60px;
  background: #fbfbfb;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.dvr-resources {
  display: none;
}

.dvr-resources.active {
  display: flex;
  flex-direction: column;
}

.call-to-safety {
  display: flex;
}


@media screen and (min-width: 700px) {
  .header {
    /* border: 1px solid red; */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9e3a8a;
  }

  .logo {
    margin-top: 84px;
    /* border: 1px solid blue; */
  }

  .content-heading {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #080808;
  }

  .content-text-1 {
    font-size: 14px;
    line-height: 20px;
    width: 332px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #848484;
  }

  .content-text {
    font-size: 16px;
    line-height: 22px;
    width: 500px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
  }

  .start-button {
    margin-top: 32px;
    cursor: pointer;
  }

  .start-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .swipe {
    margin-top: 130px;
  }

  .swipe-note {
    margin-top: 0;
    margin-bottom: 0;
    width: 230px;
    height: 38px;
    font-size: 14px;
    line-height: 19px;
  }

  .header-image {
    position: absolute;
    left: calc(100vw - 50%);
    margin-left: -40px;
    height: 83.4px;
    width: 80px;
    top: 19px;
    /* border: 1px solid cyan; */
  }

  .quiz {
    margin-top: 132px;
  }

  .mask-group-img {
    width: 300px;
    height: 300px;
  }

  .question {
    margin-top: 48px;
    width: 577px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #080808;
  }

  .answers {
    margin-top: 44px;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .answer {
    margin: 0px 10px;
    cursor: pointer;
  }

  .progress {
    width: 585px;
    margin-top: 110px;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
  }

  .thought {
    margin-top: 25px;
    font-size: 16px;
    line-height: 22px;
    width: 585px;
    height: 18px;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
  }

  .result-option-1 {
    width: 585px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .results-reasons {
    width: 585px;
    margin-left: auto;
    margin-right: auto;
  }

  .help-text {
    font-size: 16px;
    line-height: 22px;
    width: 585px;
    margin-left: auto;
    margin-right: auto;
  }

  .call-the-hotline {
    width: 585px;
    margin-left: auto;
    margin-right: auto;
  }

  .community-resources {
    width: 585px;
    margin-left: auto;
    margin-right: auto;
  }

  .de-escalate {
    width: 585px;
    margin-left: auto;
    margin-right: auto;
  }

  .but-header {
    margin-top: 82px;
    margin-bottom: 15px;
  }

  .but-header-img {
    width: 60;
    height: 60;
  }

  .information1 {
    margin-top: 25px;
  }

  .but-header-text {
    margin-bottom: 28px;
    /* border: 1px solid blue; */
  }

  .but-option {
    width: 585px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .but-option-text {
    font-size: 16px;
    line-height: 22px;
  }

  .but-info-div {
    margin-top: 82px;
    margin-bottom: 40px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .but-info-mask-group {
    width: 300px;
    height: 300px;
  }

  .but-info-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #080808;
  }

  .but-info-paragraph {
    font-size: 16px;
    line-height: 24px;
    width: 585px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .but-info-support-paragrah {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 585px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
    color: #080808;
  }
}
