.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #9e3a8a;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 30px;
  cursor: pointer;
  width: fit-content;
}

.header-image {
  position: absolute;
  left: calc(100vw - 50%);
  margin-left: -26px;
  height: 50;
  width: 52.13;
}

@media screen and (min-width: 700px) {
  .header {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9e3a8a;
  }

  .header-image {
    position: absolute;
    left: calc(100vw - 50%);
    margin-left: -40px;
    height: 83.4px;
    width: 80px;
    top: 19px;
  }
}
