.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--color-primary);
  font-size: var(--font-size-small);
  font-weight: 600;
  line-height: var(--line-height-small);
  margin-top: 1.875rem;
  padding: 0;
  cursor: pointer;
  width: fit-content;
}

.header-image {
  position: absolute;
  left: calc(100vw - 50%);
  margin-left: -1.625rem;
  height: 3.125rem;
  width: 3.258125rem;
}

@media screen and (min-width: 43.75rem) {
  .header {
    font-weight: 600;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    color: var(--color-primary);
  }

  .header-image {
    position: absolute;
    height: 5.2125rem;
    width: 5rem;
    top: 1.1875rem;
    left: calc(100vw - 50%);
    margin-left: -2.5rem;
  }
}
