.quiz {
  display: flex;
  flex-direction: column;
  color: #080808;
  margin-top: 2.5rem;
}

.mask-group {
  position: relative;
  display: flex;
  justify-content: center;
}

.mask-group-img {
  width: 15.625rem;
  height: 15.625rem;
}

.question-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: -1.5625rem;
  width: 3.125rem;
  height: 3.125rem;
  align-items: center;
  color: var(--color-help-body);
  background-color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25rem;
}

.question-count-total {
  font-size: var(--font-size-small);
}

.question {
  font-weight: 600;
  height: 4rem;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-align: center;
  margin: 2rem auto;
}

@media screen and (min-width: 43.75rem) {
  .quiz {
    margin-top: 8.25rem;
  }

  .mask-group-img {
    width: 18.75rem;
    height: 18.75rem;
  }

  .question {
    width: 36.5625rem;
  }
}
