.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.result-wording {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: #080808;
  margin-top: 0;
}

.result-answer {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: #080808;
  text-transform: capitalize;
  margin-top: 0;
}

.thought {
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: #080808;
  margin-top: 1.375rem;
}

.result-option-1 {
  display: flex;
  align-items: center;
  height: 5rem;
  background: #fbfbfb;
  border: 0.0625rem solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 0.1875rem;
}

.result-option-1-img1 {
  margin: 0.5rem;
}

.result-option-1-text {
  margin-left: 0.5rem;
}

.result-option-1-img2 {
  margin-left: 1rem;
}

.results-reasons {
  border: 0.125rem solid var(--color-primary);
  border-radius: 0.1875rem;
  margin-top: 1rem;
}

.results-reasons-text {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-align: center;
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625rem 0;
}

.results-help-text {
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: #080808;
  margin-top: 1.875rem;
}

.call-the-hotline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.call-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-bottom: 0.1875rem;
  width: 4rem;
  height: 4rem;
  background: radial-gradient(50% 50% at 50% 50%, #b12d36 0%, #7c181f 100%);
  border-radius: 0.1875rem;
}

.call-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  margin-left: 0.875rem;
}

.call-text-headline {
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-transform: uppercase;
  color: var(--color-help-headline);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem 0;
}

.call-text-paragraph {
  font-weight: normal;
  font-size: var(--font-size-xsmall);
  line-height: 1rem;
  text-align: left;
  color: var(--color-help-body);
  margin-top: 0;
  margin-bottom: 0;
}

.community-resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.cr-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  background: radial-gradient(50% 50% at 50% 50%, #e98139 0%, #c96430 100%);
  border-radius: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.cr-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  margin-left: 0.875rem;
}

.cr-text-headline {
  font-weight: normal;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-transform: uppercase;
  color: var(--color-help-headline);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem 0;
}

.cr-text-paragraph {
  font-weight: normal;
  font-size: var(--font-size-xsmall);
  text-align: left;
  line-height: 1rem;
  color: var(--color-help-body);
  margin-top: 0;
  margin-bottom: 0;
}

.de-escalate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.de-escalate-background {
  display: flex;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #3bafba 0%, #138291 100%);
  border-radius: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.de-escalate-text {
  display: flex;
  flex-direction: column;
  height: 4rem;
  margin-left: 0.875rem;
}

.de-escalate-text-headline {
  font-weight: normal;
  font-size: var(--font-size-small);
  text-align: left;
  line-height: var(--line-height-small);
  text-transform: uppercase;
  color: var(--color-help-headline);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem 0;
}

.de-escalate-text-paragraph {
  font-weight: normal;
  font-size: var(--font-size-xsmall);
  text-align: left;
  line-height: 1rem;
  color: var(--color-help-body);
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 43.75rem) {
  .thought {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    width: 36.5625rem;
    height: 1.125rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5625rem;
  }

  .result-option-1 {
    width: 36.5625rem;
    margin-top: 1.5625rem;
    margin-left: auto;
    margin-right: auto;
  }

  .results-reasons {
    width: 36.5625rem;
    margin-left: auto;
    margin-right: auto;
  }

  .results-help-text {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    width: 36.5625rem;
    margin-left: auto;
    margin-right: auto;
  }

  .call-the-hotline {
    width: 36.5625rem;
    margin-left: auto;
    margin-right: auto;
  }

  .community-resources {
    width: 36.5625rem;
    margin-left: auto;
    margin-right: auto;
  }

  .de-escalate {
    width: 36.5625rem;
    margin-left: auto;
    margin-right: auto;
  }
}
