.swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5625rem;
  margin-bottom: 1.375rem;
}

.swipe-note {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-xsmall);
  line-height: 1rem;
  color: var(--color-help-body);
}

@media screen and (min-width: 43.75rem) {
  .swipe {
    margin-top: 8.125rem;
  }
  .swipe-note {
    width: 14.375rem;
    height: 2.375rem;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    margin-top: 0;
    margin-bottom: 0;
  }
}
